<ion-header>
  <ion-toolbar>
    <ion-title>{{ title || 'Canciones' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!--aplicando ion modal en las listas-->
<ion-content color="light" class="ion-padding">
  <ion-list 
  [inset]="true" 
  *ngIf="songs && songs.length > 0">
    <ion-item 
    *ngFor="let song of songs; last as isLast" 
    [lines]="isLast ? 'none' : 'inset'"
    (click)="selectSong(song)"
    >
      <ion-avatar slot="start">
        <img  
        [src]="image || 'https://placehold.co/100'"
        (error)="image = 'https://placehold.co/100'" 
        />
      </ion-avatar>
      <ion-label>
        <h2>{{ song?.name }}</h2>
        <p> 
          Duración: {{ (song?.duration_ms / 1000 || 0).toFixed(0) }}s
        </p>
      </ion-label>

      <ion-icon 
      slot="end"
      [name]="song.isFavorite ? 'heart' : 'heart-outline'"
      (click)="toggleFavorite(song); $event.stopPropagation();">  <!-- stopPropagation para no cerrar modal al clic -->
    </ion-icon>
    
    </ion-item>
  </ion-list>
</ion-content>

<!--html sin aplicar ion modal
<p>Duración: {{ (song.duration_ms / 1000).toFixed(0) }}s</p>
-->

<!--<ion-header>
  <ion-toolbar>
    <ion-title>{{ artist?.name || 'Canciones' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="songs && songs.length > 0">
    <ion-item *ngFor="let song of songs">
      <ion-thumbnail slot="start">
        <img [src]="artist?.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ song.name }}</h2>
        <p>Duración: {{ (song.duration_ms / 1000).toFixed(0) }}s</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content> -->