<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>

  </ion-header>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>

  </ion-header>

<ion-content >

  <swiper-container pagination ="true" loop="true" slides-per-view="1">
  
    <swiper-slide *ngFor="let genre of genres" class="slide"> 
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p> {{ genre.description }}</p>
      </div>
      <h2>Hola mundo</h2>
    </swiper-slide>
  </swiper-container>

<ion-button (click)="cambiarTema()">
  Cambiar tema
</ion-button>


</ion-content>
