<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Your Library
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

 <ion-content>

  <!-- Swiper para los albums -->
  <swiper-container pagination="true" loop="true" slides-per-view="3">
    <swiper-slide *ngFor="let album of albums" (click)="showSongs(album)"> 
      <!--album.id-->
      <div class="slide-content">
        <img [src]="album.image" />
        <p>{{ album.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- Swiper para los artistas -->

  <swiper-container pagination="true" loop="true" slides-per-view="3">
  <swiper-slide *ngFor="let artist of localArtists">
    <div class="slide-content" (click)="showSongsByArtist(artist)" >
      <img [src]="artist.image" 
      [alt]="artist.name" 
      class="img-standard"
      (error)="artist.image = 'https://freerangestock.com/sample/164162/silhouette-of-a-musician-on-stage.jpg'" 
      />
      <p>{{ artist.name }}</p>
    </div>
  </swiper-slide>
</swiper-container>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">
        {{ formatTime(currentSong?.currentTime) || "0:00" }}
      </ion-col>
      <!--tiempos-->
      <ion-col class="ion-text-end">
        {{formatTime(getRemainingTime()) || "0:00" }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <!--Darle funcion a favorito, quitar de favorito asi como play and pause-->
        <!-- Favoritos: dinámico basado en song isFavorite -->
        <ion-icon
          *ngIf="song?.id"
          [name]="song.isFavorite ? 'heart' : 'heart-outline'"
          (click)="toggleFavorite(song)">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>
          {{song.name || 'Song' }}
        </ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play(song)"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>





<!--

<ion-icon
          [name]="song.isFavorite ? 'heart' : 'heart-outline'"
          (click)="toggleFavorite(song)">
        </ion-icon>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-text color="danger" *ngIf="!song.name">
      <h2 style="margin-left: 15px;">Aquí aparece canción</h2>
    </ion-text>

    <ion-item color="dark" lines="none" *ngIf="song.name">
      <ion-label>
        <p>Ahora suena:</p>
        <h2>{{ song.name }}</h2>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button color="primary">
          <ion-icon name="play-circle" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>


(click)="showSongsByArtist(artist)


<ion-footer>
  <ion-text color="danger" *ngIf="!song?.name">
    <h2>Aqui aparece cancion</h2>
  </ion-text>
  en caso de que si, si hay nombre de cancion, muestrala
  <ion-text color="primary" *ngIf="song?.name">
    <h2>{{song.name}}</h2>

  </ion-text>
</ion-footer>
-->
