.slide-content {
  text-align: center;
  padding: 10px;
}
.slide-content img {

  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  margin: 10% 0;
}

.slide-content h2 {
  margin: 0;
  font-size: 25px;
  color: var(--color-slide-title);
}

.slide-content p {
  font-size: 20px;
  text-align: justify;
}

.card {
  padding: var(--espaciado-base);
  background-color: var(--color-claro);
}

.bg-card-test {
  background-color: pink;
}

.slide {
  background: var(--color-fondo-tarjeta);
  color: var(--color-texto-tarjeta);
  padding: var(--espaciado-slide);
}

.slide h2 {
  color: var(--color-slide-title);
}

.texto-centrado {
  text-align: center;
}


swiper-slide .slide-content img {
  width: 180px !important;   
  height: 180px !important; 
  max-width: 95%;            // Permitimos que casi toque los bordes del slide 
  object-fit: cover;
  margin: 5px auto !important; // Centramos con poco margen 
  border-radius: 9px;
  
}
  
